#div-id {
  height: 10px; 
  width: auto; 
  height: auto;
  background-color: purple
}


#first-div {
  background-color: #39cccc;
  height: 200px;
  width: 200px;
  padding: 50px;
  border: 5px solid black; 
  box-sizing: border-box;
}

#second-div {
  background-color: #ff4136;
  height: 200px;
  width: 200px;
  padding: 50px;
  border: 5px solid black;
  box-sizing: border-box;
}

.image-1-container {
  width: 200px;
  height: 600px;
  background-color: red;
}

.image-2-container {
  width: 200px;
  height: 600px;
  background-color: red;
}

.dog {
  width: auto;
  height: auto;
}

.cat {
  width: 100%;
}

p {
  background-color: #7fdbff;
  width: auto; 
  height: auto;
  background-color: purple
}
